<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note-HTML</title>
</head>
<body>
<h1>Note 1.</h1>
<p style="font-size:140%;">
    TO-DO LIST 29/12/2023
</p>
<ul>
    <li>do grocery shopping ( mayo, cheese, bread, milk )</li>
    <li>go to cinema with Mark</li>
    <li>feed dog</li>
    <li>do exercise</li>
    <li>call Mary</li>
</ul>

<h1>Note 2.</h1>
<p style="font-size:140%;">
    Passwords
</p>
<div>insta: terrynewi123</div>
<div>facebook: crunchy_chip87</div>
<div>tiktok: tikTokUser78246287</div>

</body>
</html>